<h1>Users#edit_meal_restriction</h1>

<%= form_tag({controller: "users", action: "update_meal_restriction"}, method: :put) do %>


  <%= label_tag "Ma restriction alimentaire" %><br>
  <%= select(:dropdown, :household_number, @meal_types, :selected => @restriction ) %><br>
  
  <%= submit_tag "Sauvegarder", :name => nil, class:"btn" %>



<% end %>
