<h1>Meals#show</h1>

<strong> <%= @meal.name %></strong>
<div>
  Description : <%= @meal.description %>
</div>
<div>
  Image url : <%= @meal.image_url %>
</div>
<div>
  Meal type : <%= @meal.meal_type.name %>
</div>
